{% extends 'base.html' %}
{% load static %}
{%block content%}

    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">To do App</h1>
        {% csrf_token %}
        <input id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="" type="text"
            name="username">
        <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password"
            name="password">
        <div class="checkbox mb-3">
            <label>
                <input value="remember-me" type="checkbox"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</body>
<body class="text-center">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-danger" id="message_login">
            <button type="button" class="close" data-dismiss="alert">
                ×
            </button>
            <strong>{{message}}</strong>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}